/* .section-skills__badges {
  display: grid;
  column-gap: 20px;
  row-gap: 15px;
  grid-template-columns: 50px 50px 50px 50px 50px;
  padding: 10px;
} */

/* .badges-container {
  display: flex;
  flex-wrap: wrap;
} */
