*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
  --fw-reg: 400;
  --fw-bold: 900;
  --font-normal: 1rem;
  --font-semi: 1.25rem;
  --font-big: 2rem;
  --mgr-15: 1.5rem;
  --mgl-15: 1.5rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #0a0707;
}

.app {
  font-weight: var(--fw-reg);
  color: var(--font-color);
}

body {
  font-family: var(--ff-primary);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: -webkit-linear-gradient(
    34deg,
    rgb(180, 58, 180) 0%,
    rgb(255, 10, 112) 100%
  );
  padding-bottom: 0.5rem;
}

.navbar-container {
  display: flex;
  align-items: center;
}

nav {
  margin-left: 1rem;
  text-transform: uppercase;
}

.small-icon {
  display: none;
}

nav > a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin-inline: 0.5rem;
  color: #bcc900;
  letter-spacing: 0.06rem;
}

nav > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #59f780;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav > a:hover {
  color: #59f780;
}

nav > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar__logo > img {
  height: 2.5rem;
  margin-top: 0.4rem;
  margin-left: 0.75rem;
}

.toggle {
  margin-right: 1rem;
}

.toggle__custom-button:hover {
  background-color: #6d3fa1 !important;
  border-radius: 25px;
}

.toggle p {
  font-size: small;
  margin-right: 0.2rem;
}

/*About*/

#about{
  min-height:100vh;
  display: flex;
  z-index: 1;
  position: relative;
  background-image: url(./assets/new2.svg);
  background-repeat: no-repeat;
  background-position: top 3.4em left, right 3em center, bottom -50vh center;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about__hello {
  margin-left: 2rem;
  gap: 1rem;
}

.about__body p {
  font-size: var(--font-semi);
  font-weight: 500;
  margin-top: 1rem;
  margin-inline: 2rem;
}

.about__body p:last-child {
 margin-bottom: 4rem;
}

.about__body > h1 {
  background: -webkit-linear-gradient(
    180deg,
    rgb(145, 250, 75) 0%,
    rgb(28, 24, 250) 35%,
    rgb(255, 10, 112) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 3rem;
  margin: 2rem;
}



.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.heroimage:hover + .hide {
  opacity: 1;
  pointer-events: auto;
}



/*Card */

.card-container {
  position: relative;
}

.card-container .card {
  position: relative;
  max-width : 300px;
  height : 215px;
  background-color : rgb(218, 191, 191);
  margin : 30px 10px;
  padding : 20px 15px;
  /* height: fit-content; */
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.card-container .card:hover {
  height: 340px;
}


.card-container .card .card__image {
  position : relative;
  width : 100%;
  height : 200px;
  border-radius : 15px;
  top : -30%;
  /* left: 3px; */
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.card-container .card .card__image img {
  width : 100%;
  border-radius : 15px;
  flex: 100%;
  height: 200px;
  object-fit: fill;
}

.card-container .card .card__content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : left;
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
  
    
}

.card_description {
  margin-bottom: 2rem;
  color: #2b2935;
}

.card-container .card:hover .card__content {
   margin-top : 70px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

.card__link {
  text-decoration: none;
  color: rgb(178, 6, 155);
  position: absolute;
  bottom: 0px;
}

.card__link:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  color: #7e59f7;
}

.card__image {
  width: 100%;
}

.card__title {
  color: rgb(35, 100, 102);
  font-weight: 600;
}

/*Skills*/

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: fit-content;
  margin-top: 4rem;
  gap: 1.5rem;
  margin-left: var(--mgl-15);
  margin-right: var(--mgr-15);
}

#skills h2 {
  text-align: center;
}

.neural {
  height: 300px;
  float: left;
}

#skills > h1 {
  margin-top: 3rem;
  font-size: var(--font-big);
}

#skills > p {
  font-size: 1.2rem;
}


/* Badges container */
.badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 800px;
}



.badge-container {
  border-radius: 6px;  
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  user-select: none;
}

.badge > .tag {
  margin-top: 0.5rem;
  color: rgb(53, 13, 122);
}


.badge > img {
  height: 50px;
  width: 50px;
}

.badge img:hover {
  opacity: 0.5;
}

.heroimage {
  border-radius: 10%;
  height: 15rem;
  object-fit: cover;
}

/* Select */

.select-container {
  max-width: 300px;
}

#select-btn {
  margin-top: 1rem;
}


/*Projects*/

#projects {
  min-height: 100vh;
  height: fit-content;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.projects__search-divider {
  display: flex;
  align-items: center;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  justify-content: center;
  grid-gap: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

hr.icon {
  border: 2px solid;
  width: 45%;
  border-radius: 6px;
  margin-right: 6rem;
}


.projects-container__info {
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.projects-container__info > h1 {
  font-size: var(--font-big);
}

.projects-container__info > p {
  padding-bottom: 2rem;
  
}

/*Contact*/

#contact {
  height: 100vh;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 3rem;
  padding: 3rem 3.25rem;
  background-color: #f02eaa66;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  margin-bottom: 5rem;
}

.contact-form > h2, label {
  margin-bottom: 0.5rem;
  color: rgb(20, 140, 18);
  font-weight: 600;
}

.contact-form > p {
  margin-bottom: 0.5rem;
}

.contact-form > input {
  width: 15rem;
  height: 2rem;
  background-color: pink;
  border: none;
  border-radius: 0.3rem;
}

.contact-form > input[type="text"] {
  color: purple;
  padding-left: 0.5rem;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus {
  border: 2px solid #59f780;
  background-color: lightblue;
}

.contact-form input[type="email"] {
  color: purple;
  padding-left: 0.5rem;
}

.contact-form > textarea {
  background-color: pink;
  min-height: 200px;
  resize: vertical;
  padding: 0.3rem 0.5rem;
  font-size: var(--font-normal);
  font-family: var(--ff-secondary);
  color: purple;
  margin-bottom: 0.5rem;
}

.contact-form > textarea:focus {
  background-color: lightblue;
}

.submit {
  padding: 0.5rem;
  background-color: purple;
  color: pink;
  border: 2px solid #ea59f7;
  border-radius: 3px;
  width: 10rem;
  margin-bottom: 1rem;
}

.submit:hover {
  background-color: #ea59f7;
  color: white;
  border: 2px solid #ea59f7;
}

.submit:focus {
  border: 2px solid blue;
}

/* Footer */
footer {
  width: 100%;
  background: linear-gradient(
    34deg,
    rgba(131, 58, 180, 1) 5%,
    rgb(30, 216, 20) 77%
  );
  padding: 1rem 0;
  font-size: var(--fs-h3);
  bottom: 0;
  position: absolute;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0.5rem;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__item .codewars-badge {
  width: 150px;
  height: 20px;
  border: 0;
}

.social-list__item > a > img {
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s ease;
}

.social-list__item > a > img:hover {
  opacity: 0.6;
}

.social-list__link {
  padding: 0.5em;
}

@media (max-width: 768px) {
  .navbar-container {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  nav {
    margin-left: 1;
    padding-right: 0;
    gap: 0.1;
  }

  #skills p {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #about {
    margin-top: 3rem;
    flex-direction: column;
    gap: 0;
  }

  /* .about__body {
    margin-top: 3rem;
    background-color: aqua;
  } */

  .about__hello {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    margin-top: 3rem;
  }

  hr.icon {
    display: none;
  }

  .projects__grid {
    grid-template-columns: repeat(10rem, 1fr);
  }
}

@media (max-width: 553px) {
  .navbar-container {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  #skills {
    margin-left: var(--mgl-15);
    margin-right: var(--mgr-15);
  }

  .projects-container__info   {
    margin-left: var(--mgl-15);
    margin-right: var(--mgr-15);
  }


  .navbar__logo > .big-icon {
    visibility: hidden;
    display: none;
  }

  .navbar__logo > .small-icon {
    display: block;
    height: 3rem;
    width: 3rem;
    margin-left: 0.4rem;
    margin-right: 0;
  }

  nav a {
    font-size: 0.8rem;
    margin-left: 0;
  }

  .about__body h1 {
    font-size: 2rem;
  }

  .projects__grid {
    grid-template-columns: repeat(10rem, 1fr);
  }
}
