*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Roboto", sans-serif;
  --fw-reg: 400;
  --fw-bold: 900;
  --font-normal: 1rem;
  --font-big: 2rem;
  /* --font-color: rgba(255, 255, 255, 0.871); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #0a0707;
}

.app {
  height: 100%;
  width: 100vw;
  font-weight: var(--fw-reg);
  color: var(--font-color);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: var(--ff-primary);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: -webkit-linear-gradient(
    34deg,
    rgb(180, 58, 180) 0%,
    rgb(255, 10, 112) 100%
  );
  height: 3.5rem;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 3rem;
  position: sticky;
}

nav {
  margin-left: 1rem;
  padding-left: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  text-transform: uppercase;
}

nav > a {
  text-decoration: none;
  color: rgb(188, 201, 0);
  letter-spacing: 0.06rem;
}

nav > a:hover {
  color: #59f780;
}

.navbar__logo > img {
  height: 2.5rem;
  margin-top: 0.4rem;
  margin-left: 0.75rem;
}

.toggle p {
  font-size: small;
  margin-right: 0.2rem;
}

/*About*/
.about-container {
  padding-top: 3rem;
}

.about-container__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: left;
}

.about-container__body > h1 {
  background: -webkit-linear-gradient(
    180deg,
    rgb(145, 250, 75) 0%,
    rgb(28, 24, 250) 35%,
    rgb(255, 10, 112) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 3rem;
  margin: 2rem;
}

.about-container__hello {
  position: relative;
  display: flex;
}

.about-container__hello h2 {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 3rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.about-container__hello:hover h2 {
  opacity: 1;
  pointer-events: auto;
}

.about-container__body > p {
  margin: 2rem;
}

.badge-container > img {
  height: 100;
}

/*Card */
.card {
  max-width: 300px;
  height: fit-content;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: opacity 0.3s, transform 0.3s ease;
  background-color: #795d78;
  overflow: hidden;
}

.card:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.card__content {
  padding: 0.8rem;
}

.card__image {
  width: 100%;
}

.card__image img {
  max-width: 100%;
  flex: 100%;
  height: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card__title {
  color: white;
}

/* .project-headers {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.project-headers > h1 {
  color: #f7599b;
  font-weight: var(--fw-bold);
  font-size: var(--font-big);
} */

.about-container {
  text-align: center;
}

/*Skills*/
.section-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  padding-top: 4rem;
  margin: 0 1rem 3rem 1rem;
}

.section-skills__subheader {
  margin-top: 1rem;
}

.section-skills > p {
  max-width: 65%;
}

.skills-container {
  margin-bottom: 1rem;
}

.badge-container > img {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.badge-container img:hover {
  opacity: 0.5;
}

.heroimage {
  border-radius: 10%;
  height: 13rem;
}

/*Projects*/
.my-projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
  justify-content: center;
  grid-gap: 1.5rem;
}

.projects-container {
  width: 70%;
}

.projects-container__info {
  text-align: center;
}

.projects-container__info > h1 {
  margin: 1rem;
  font-size: var(--font-big);
  background: -webkit-linear-gradient(
    30deg,
    rgb(58, 60, 180) 0%,
    rgba(253, 29, 118, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-container__info > p {
  padding-bottom: 2rem;
}

.projects-container__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75%;
}

.projects-container__text {
  margin-bottom: 1.5rem;
}

.projects-container__divider {
  display: block;
  width: 15rem;
  border-top: 3px solid #fd1d76;
  border-radius: 3px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*Contact*/
.contact-container {
  margin: 0 auto;
}

#contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1.5rem 1.25rem;
  max-width: 43.75rem;
  background-color: #f02eaa66;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  margin-bottom: 9rem;
}

.contact-form > h2 {
  margin-bottom: 0.5rem;
}

.contact-form > p {
  margin-bottom: 0.5rem;
}

.contact-form__label--inputs {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.contact-form__label--inputs > input {
  width: 15rem;
  height: 2rem;
  background-color: pink;
  border: none;
  border-radius: 0.3rem;
}

.contact-form__label--inputs input[type="text"] {
  color: purple;
  padding-left: 0.5rem;
}

.contact-form__label--inputs input[type="text"]:focus,
.contact-form__label--inputs input[type="email"]:focus {
  border: 2px solid #59f780;
  background-color: lightblue;
}

.contact-form__label--inputs input[type="email"] {
  color: purple;
  padding-left: 0.5rem;
}

.contact-form__label--inputs > textarea {
  background-color: pink;
  resize: none;
  padding: 0.3rem 0.5rem;
  /* font-weight: bold; */
  font-size: var(--font-normal);
  font-family: var(--ff-secondary);
  color: purple;
  margin-bottom: 0.5rem;
}

.contact-form__label--inputs > textarea:focus {
  background-color: lightblue;
}

.contact-form__submit {
  padding: 0.5rem;
  background-color: purple;
  color: pink;
  border: 2px solid #59f780;
  border-radius: 3px;
  width: 10rem;
  margin-bottom: 1rem;
}

.contact-form__submit:focus {
  border: 2px solid blue;
}

/* Footer */
footer {
  width: 100%;
  background: linear-gradient(
    34deg,
    rgba(131, 58, 180, 1) 5%,
    rgb(30, 216, 20) 77%
  );
  color: white;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.1rem 0;
  font-size: var(--fs-h3);
  bottom: 0;
  left: 0;
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0 0.5rem;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__item .codewars-badge {
  width: 150px;
  height: 20px;
  border: 0;
}

.social-list__item > a > img {
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s ease;
}

.social-list__item > a > img:hover {
  transform: rotate(15deg);
}

.social-list__link {
  padding: 0.5em;
}

@media (max-width: 665px) {
  .navbar-container {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
    gap: 0.2;
    margin-left: 0.2rem;
  }

  .navbar__logo > img {
    height: 2.5rem;
    width: 6.5rem;
    margin-left: 0;
  }

  .my-projects__grid {
    grid-template-columns: repeat(10rem, 1fr);
  }
}
